button{
  /*margin: 0 10px;*/
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all .3s;
  cursor: pointer;
  text-align: center;
}

button.tall
{
  padding: 10px 5px;
}

.btn{
  min-width: 100px;
  padding: 10px;
  color: #fff;
  background-color: var(--mestBlue);
  border: 1px solid transparent;
}

.btn:hover
{
  background-color:  #fff;
  color: var(--mestBlue);
  border: 1px solid var(--mestBlue);
}

div.btn-group{

}

div.btn-group button
{

}



.btn-sq
{
  min-width: unset;
  text-align: center;
  background: transparent;
  color: rgba(0, 0, 0, 0.38);
}

.btn-sq:hover
{
  /*background-color:  #fff;*/
  color: #000;
  /*border: 1px solid #000;*/
}

.btn-sq-1{
  width: 30px;
  padding: 3px;
  height: 30px;
}

.btn-sq-2{
  width: 30px;
  padding: 3px;
  height: 30px;
}

.btn-sq-3{
  width: 30px;
  padding: 3px;
  height: 30px;
}

.btn-sq-4{
  width: 30px;
  padding: 3px;
  height: 30px;
}

.btn-sq-5{
  width: 30px;
  padding: 3px;
  height: 30px;
}

.edit-btn{
  position: absolute;
  bottom: -92%;
  right: 0;
}
