.chatAppContainer {
  margin: 0 auto;
  width: 100%;
  background-color: var(--normalBgColor);
  border-radius: 5px;
  height: 100%; }

.people-list {
  width: 260px;
  float: left;
  border-right: 1px solid var(--dividerColor);
  height: 100%; }

.people-list .search {
  padding: 15px 20px;
  height: 60px;
  border-bottom: 1px solid var(--dividerColor); }

.people-list .listContainer {
  overflow-y: auto;
  height: calc(100% - 60px); }

.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  /*background: #6A6C75;*/
  width: 90%;
  font-size: 14px; }

.people-list .fa-search {
  position: relative;
  left: -25px; }

.people-list ul {
  /*padding: 20px 0;*/
  /*height: 100%;*/
  /*overflow-y: auto;*/ }

.people-list ul li {
  /*padding: 10px 20px ;*/
  cursor: pointer;
  border-bottom: 1px solid var(--dividerColor); }

.people-list ul li a {
  display: block !important;
  padding: 5px;
  height: 58px; }

.people-list ul li:last-of-type {
  border-bottom: none; }

.people-list ul li:hover {
  background-color: var(--menuItemHoverColor); }

.people-list img {
  float: left;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  margin: 5px 0; }

.people-list .about {
  float: left;
  /*margin-top: 8px;*/
  padding-left: 8px;
  text-transform: capitalize;
  width: calc(100% - 40px);
  color: var(--menuTextColor); }

/*.people-list .about {*/
/**/
/*}*/
.people-list .name {
  max-width: 75%; }

.people-list .status {
  color: #ccc;
  font-size: 12px; }

.people-list .about .dateSent {
  font-size: 12px;
  color: #fff;
  margin: 0;
  line-height: 2; }

.people-list .about .bottomRow {
  margin-top: 7px; }

.chat {
  width: calc(100% - 260px);
  height: 100%;
  float: left;
  /*background-color: #F2F5F8;*/
  background-color: var(--checkBoxBg);
  /*border-top-right-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
  color: #434651; }

.chat .chat-header {
  background-color: var(--normalBgColor);
  padding: 10px;
  height: 60px;
  border-bottom: 1px solid var(--dividerColor);
  text-transform: uppercase; }

.chat .chat-header img {
  float: left;
  height: 37px; }

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  /*margin-top: 6px;*/ }

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
  color: #000; }

.chat .chat-header .chat-num-messages {
  color: #ccc; }

.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px; }

.chat .chatHistory {
  padding: 30px 0 20px;
  border-bottom: 2px solid var(--dividerColor);
  overflow-y: scroll;
  /*height: calc(100% - 130px);*/
  height: calc(100% - 125px); }

.chat .chatHistory li {
  padding: 0 30px; }

.chat .chatHistory .message-data {
  margin-bottom: 15px; }

.chat .chatHistory .message-data-time {
  color: #ccc;
  padding-left: 6px; }

.chat .chatHistory .message {
  color: #000;
  padding: 7px 15px;
  line-height: 26px;
  font-size: 16px;
  /*border-radius: 7px;*/
  margin-bottom: 10px;
  max-width: 90%;
  min-width: 100px;
  width: auto;
  position: relative; }

.chat .chatHistory .message::after {
  top: 0;
  /*left: 7%;*/
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  margin-left: -10px; }

.chat .chatHistory .my-message:not(.same)::after {
  /*bottom: 67% !important;*/
  left: -1% !important;
  border-top-color: #A0E385 !important;
  border-right-color: #A0E385 !important; }

.chat .chatHistory .other-message:not(.same)::after {
  border-top-color: #94C2ED;
  border-left-color: #94C2ED;
  left: 101%; }

.chat .chatHistory .my-message {
  background-color: #A0E385;
  float: left; }

.chat .chatHistory .other-message {
  background-color: #94C2ED; }

.chat .chat-message {
  padding: 10px;
  height: 63px; }

.inputContainer {
  background-color: var(--inputBg);
  border: 1px solid var(--dividerColor); }

.chat .chat-message div.input {
  line-height: 2.3;
  text-overflow: clip;
  overflow-y: auto; }

.chat .chat-message .input img {
  height: 25px;
  vertical-align: middle; }

.chat .chat-message .input {
  display: inline-block;
  width: calc(100% - 100px) !important;
  height: 100%;
  border: none;
  padding: 5px 0;
  font: 14px/22px "Lato", Arial, sans-serif;
  /*margin-bottom: 10px;*/
  /*border-radius: 5px;*/
  resize: none;
  background-color: transparent;
  vertical-align: bottom;
  color: var(--inputFg); }

.chat .chat-message input:focus {
  border: none !important; }

/*
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}*/
.chat .chat-message button {
  font-size: 28px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  transition: all .15s; }

.chat .chat-message button:hover {
  color: #75b1e8; }

.emojiPickerBtn {
  color: #ffcd08;
  width: 46px;
  font-size: 32px;
  background-color: transparent; }

.sendMessage {
  color: var(--checkGreen);
  vertical-align: bottom;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 23px !important; }

.sendMessage:hover {
  font-size: 28px !important; }

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px; }

.online {
  color: #b0ff00; }

.offline {
  color: #ff9a73; }

.me {
  color: #94C2ED; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.float-right {
  float: right; }

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.messageSetDate {
  background-color: rgba(255, 255, 255, 0.04);
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  padding: 3px 30px !important;
  margin-bottom: 3px;
  /*background-blend-mode: multiply;*/ }

.messageSetDate div {
  width: auto;
  /*height: 70px;*/
  background-color: #fff29c;
  text-align: center;
  margin: 0 auto;
  padding: 4px;
  border-radius: 16px;
  box-shadow: 0px 0px 3px #000000b3;
  text-transform: capitalize;
  max-width: 302px; }

.dateSent {
  /*display: block;*/
  margin-left: 15px;
  text-align: right;
  opacity: .5;
  float: right; }

.emojiMco {
  width: 25px;
  height: inherit;
  vertical-align: text-top;
  margin-right: 5px; }

.emojiPicker {
  position: absolute;
  background-color: var(--normalBgColor);
  padding: 10px;
  bottom: 64px;
  width: 327px;
  filter: drop-shadow(0 0px 3px var(--subMenuShadowColor));
  border: 1px solid var(--dividerColor); }

.emojiPicker::after {
  top: 100%;
  /*left: 7%;*/
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  margin-left: -10px; }

.emojiPicker::after {
  /*bottom: 67% !important;*/
  left: 7% !important;
  border-top-color: var(--normalBgColor) !important; }

.emojiPicker li {
  width: 38px;
  height: 38px;
  padding: 3px;
  float: left;
  display: inline-block;
  cursor: pointer;
  text-align: center; }

.emojiPicker li:hover > img {
  width: 30px;
  height: 30px; }

.emojiPicker li img {
  width: 27px;
  height: 27px;
  transition: all .2s ease;
  display: inline-block;
  pointer-events: none; }

/*# sourceMappingURL=chat.css.map */
