
.clr0 { background-color: #2598ff; }
.clr1 { background-color: #ff486b; }
.clr2 { background-color: #e4d354; }
.clr3 { background-color: #62ecbe; }
.clr4 { background-color: #2b908f; }
.clr5 { background-color: #91e8e1; }
.clr6 { background-color: #f45b5b; }
.clr7 { background-color: #434348; }
.clr8 { background-color: #f7a35c; }
.clr9 { background-color: #8085e9; }
.clr10 { background-color: #fee22d; }
.clr11 { background-color: #f6911e; }
.clr12 { background-color: #91e8e1; }
.clr13 { background-color: #9d4f36; }
.clr13 { background-color: #90ed7d; }
.clr14 { background-color: #f15c80; }