/*region form dialog*/
div.dialog {
  max-width: 600px;
  width: 600px;
  margin: 0 auto;
  /*margin: 30px auto;*/
  /*margin: 40px auto;*/
  /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
  box-shadow: 0 1px 2px 1px rgba(19, 35, 47, 0.3);
  z-index: 300;
  /*position: absolute;*/
  /*top: 30px;*/
  /*left: 0;*/
  /*left: 30%;*/
  /*transition: .3s;*/
  height: 100%; }

div.dialog {
  /*top: -650px;*/ }

div.dialog .fdg-h {
  height: 40px;
  /*border-bottom:1px solid #00fe98;*/ }

.fdg-pr {
  width: 100%;
  height: 3px;
  overflow: hidden;
  background-color: var(--normalBgColor);
  /*display: none;*/ }

.fdg-pr .load-bar {
  height: 100%;
  width: 0;
  background-color: var(--themeHighlightColor);
  transition: all .2s ease; }

div.dialog h1 {
  padding: 5px 10px  5px 20px;
  background-color: var(--abacusBlue);
  border-bottom: 1px solid var(--dividerColor);
  /*border-bottom: 1px solid #ffd800;*/
  height: 40px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: 0; }

div.dialog h1 button {
  height: 100%;
  float: right;
  font-size: 35px;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--formLabelColor);
  cursor: pointer;
  display: none; }

div.dialog h1 button:hover {
  color: #fff; }

div.dialog .formBody {
  padding: 20px;
  /*height: 500px;*/
  height: calc(100% - 100px);
  width: 100%;
  background: var(--normalBgColor);
  /*width: calc(100% - 40px);*/
  overflow-y: auto; }

/*endregion*/
.formContainer {
  background: var(--normalBgColor);
  /*background: rgba(19, 35, 47, 0.9);*/
  /*padding: 20px;*/
  max-width: 100%;
  /*border-radius: 4px;*/
  border-radius: 0;
  height: 100%; }

.formContainer form {
  height: 100%; }

label {
  /*position: absolute;*/
  /*-webkit-transform: translateY(6px);*/
  /*transform: translateY(6px);*/
  /*left: 13px;*/
  /*-webkit-transition: all 0.25s ease;*/
  /*transition: all 0.25s ease;*/
  /*-webkit-backface-visibility: hidden;*/
  /*pointer-events: none;*/
  color: var(--formLabelColor2);
  font-size: 14px; }

label .req {
  margin: 2px;
  color: #1ab188; }

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px; }

label.active .req {
  opacity: 0; }

label.highlight {
  color: #ffffff; }

input, textarea {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: var(--inputBg);
  /*background: none;*/
  /*background-image: none;*/
  border: 1px solid var(--dividerColor);
  /*border: 1px solid rgba(160, 179, 176, 0.25);*/
  /*border: 1px solid #a0b3b0;*/
  color: var(--inputFg);
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  position: relative;
  /*border-top-color: transparent;*/
  /*border-left-color: transparent;*/
  /*border-right-color: transparent;*/ }

input:not(.mb0):not(.m0) {
  margin-bottom: 4%; }

input.short, label.short {
  width: 48% !important; }

input.halfWidthInput, select.halfWidthInput {
  width: 100px; }

input.midInp {
  width: 150px !important; }

input.longSearchBar {
  min-width: 850px !important;
  margin: 0 !important;
  margin-right: 15px;
  font-size: 17px;
  transition: all .3s;
  border-radius: 2px;
  padding: 7px 7px 7px 30px !important;
  background-image: url("/css/bumblebee/images/searchicon.png");
  /* Add a search icon to srcInputEl */
  background-position: 6px 8px;
  background-repeat: no-repeat; }

input:focus, textarea:focus, select:focus {
  outline: 0;
  border: 1px solid var(--abacusBlue) !important;
  /*border:1px solid #1ab188 !important;*/ }

input[readonly], select[readonly] {
  border: none !important;
  background: none !important; }

textarea {
  border: 1px solid var(--dividerColor);
  resize: vertical;
  max-height: 150px;
  min-height: 30px; }
  textarea.long {
    max-height: 150px;
    min-height: 60px; }

.field-wrap {
  position: relative;
  /*margin-bottom: 40px;*/ }

.formBody .centered {
  margin: auto; }

.center-text {
  text-align: center; }

.formBody fieldset {
  margin-bottom: 18px;
  border: 1px solid var(--dividerColor);
  /*border: 1px solid #0595ff;*/
  padding: 10px; }

.formBody fieldset:last-of-type {
  margin-bottom: 20px; }

/*.formBody fieldset input:last-of-type,*/
.formBody fieldset select:last-of-type {
  margin-bottom: 0 !important; }

fieldset.noborder {
  border: 1px solid transparent;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 10px; }

fieldset.noborder legend {
  /*color: rgba(255, 255, 255, 0.7);*/ }

/*region profile pic*/
fieldset .profilePic {
  width: 100px;
  height: 100px;
  /*border-radius: 50%;*/
  border: 1px solid var(--dividerColor);
  border-bottom-width: 3px;
  border-bottom-color: var(--abacusBlue);
  background-color: var(--checkBoxBg); }

fieldset .profilePic:hover {
  border-color: var(--abacusBlue); }

div.editableImageDiv {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  /*border: 1px solid transparent;*/
  overflow: hidden;
  /*padding-top: 3px;*/
  box-sizing: content-box;
  text-align: center;
  transition: all .3s; }

div.editableImageDiv div.editImgContainer {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

div.editableImageDiv div.editCommands {
  width: 100%;
  height: 30px;
  /*background-color: rgba(0,0,0, .5);*/
  position: relative;
  bottom: 0;
  color: var(--menuTextColor);
  /*padding: 5px;*/
  /*display: none;*/
  box-sizing: content-box;
  transition: all .3s; }

div.editableImageDiv:hover {
  /*border-color:  var(--dividerColor);*/
  /*background-color: var(--checkBoxBg);*/ }

div.editableImageDiv:hover div.editCommands {
  pointer-events: none; }

div.editableImageDiv:hover div.editCommands {
  bottom: 31%;
  /*display: block;*/ }

div.editCommands:hover {
  /*background-color: rgba(0,0,0, .7);*/ }

div.editCommands span {
  display: inline-block;
  box-sizing: content-box;
  /*pointer-events: none;*/ }

div.editCommands span.imgIDf {
  width: calc(100% - 40px);
  height: calc(100% - 10px);
  background-color: var(--halfTint);
  padding: 5px;
  font-weight: 500;
  box-sizing: content-box; }

span.editCommandIcons {
  height: calc(100% - 10px);
  width: 20px;
  text-align: right;
  float: right;
  box-sizing: content-box;
  padding: 5px;
  background-color: var(--halfTint);
  transition: all .3s; }

span.editCommandIcons:hover {
  background-color: var(--halfTint2); }

span.editCommandIcons i {
  width: 20px;
  height: 100%;
  display: inline-block;
  text-align: center;
  cursor: default;
  /*background: #000;*/
  /*padding: 5px;*/
  box-sizing: content-box;
  /*pointer-events: all !important;*/ }

span.editCommandIcons i:hover {
  /*background: #000;*/ }

/*endregion*/
fieldset div.iconed {
  /*width: 100%;*/
  /*height: 30px;*/ }

div.iconed input {
  width: calc(100% - 30px) !important;
  float: left;
  border-right: 1px solid var(--dividerColor);
  /*border-right: none !important;*/ }

div.iconed.rl input {
  width: calc(100% - 60px) !important;
  float: left;
  border-right: 1px solid var(--dividerColor);
  /*border-right: none !important;*/ }

div.iconed.right input {
  float: right;
  /*border-right: none !important;*/ }

div.iconed span:not(.label):not(.datepicker_button-group):not(.datepicker_heading):not(.req-field) {
  display: inline-block;
  width: 30px;
  background-color: var(--normalBgColor);
  float: right;
  height: 28px;
  border: 1px solid var(--dividerColor);
  /*border-left: 1px solid #272727;*/
  /*border-bottom: 1px solid #3b3b3b;*/
  padding: 2px 5px;
  text-align: center;
  cursor: pointer; }

div.iconed.right span:not(.label):not(.datepicker_button-group):not(.datepicker_heading):not(.req-field) {
  float: left; }

div.iconed.rl span:first-of-type {
  float: left !important;
  margin-top: 21px; }

div.iconed span.merge-with-input, div.iconed span.mwi {
  background-color: var(--inputBg) !important;
  /*color: var(--inputFgTr);*/
  color: #969a9e;
  border-left-color: transparent !important; }

div.iconed span.merge-with-input:hover, div.iconed span.mwi:hover {
  color: var(--inputFg); }

div.iconed.rl label {
  margin-left: -27px; }

fieldset div.iconed span:not(.label):not(.datepicker_button-group):not(.datepicker_heading) i {
  pointer-events: none; }

.tb {
  border: 1px solid var(--dividerColor);
  border-top: 5px solid var(--abacusBlue); }

.field-card {
  padding: 10px; }

.formBody legend {
  /*color: #fff;*/
  color: var(--formLabelColor2);
  /*color: rgba(160, 179, 176, 0.8);;*/
  font-size: 11px; }

.formBody legend.centered {
  width: 100%;
  text-align: center;
  /*position: relative;*/
  /*left: 0;*/
  /*height: 8px;*/
  /*legend type height*/
  /*height: 20px;*/
  /*normalise height*/ }

input.unwrapped, select.unwrapped {
  margin-bottom: 10px !important; }

.fields-row:after {
  content: "";
  display: table;
  clear: both; }

.fields-row > div:not(.tokens) {
  float: left;
  width: 48%;
  margin-right: 4%; }

.fields-row > div:last-child {
  margin: 0; }

div.dialog .formFoot {
  height: 55px;
  padding: 10px;
  background-color: var(--dialogFootColor);
  border-top: 1px solid var(--themeHighlightColor); }

div.dialog .formFoot button, .footBtn {
  height: 35px;
  float: right;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
  margin-left: 10px;
  min-width: 70px; }

.footBtn {
  height: 30px; }

.button:hover:not(.disabled), .button:focus:not(.disabled), .footBtn:hover {
  background: #179b77; }

.button-block {
  /*display: block;*/
  /*width: 100%;*/ }

.forgot {
  margin-top: -20px;
  text-align: right; }

a.button {
  text-align: center; }

a.button:hover {
  color: #fff;
  background-color: #128f66; }

select {
  border: 1px solid var(--dividerColor);
  background-color: var(--inputBg);
  color: var(--inputFg);
  /*padding: 10px 20px;*/
  min-width: 100%;
  font-weight: 500;
  height: 100%;
  padding: 4px 10px;
  background-position: 100% 61%; }

select optgroup {
  /*border: 1px solid var(--dividerColor);*/ }

select option {
  background-color: var(--inputBg);
  /*height: 30px;*/
  padding: 2px 5px;
  -moz-appearance: none; }

.ucl {
  text-transform: uppercase; }

/*region*/
input.plValue {
  display: inline !important;
  text-align: center !important;
  width: 150px !important;
  /*text-align: right;*/
  /*display: inline-block;*/
  height: 100% !important;
  /*background: #ccc;*/
  padding: 10px !important;
  font-family: "sertig", sans-serif !important;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 600 !important; }

div.aor-cs {
  height: 100px;
  width: 30px;
  float: right;
  margin-top: -100px;
  /*padding: 12px 0;*/
  padding: 2.6% 0; }

div.aor-cs.rt {
  height: 30px;
  width: auto;
  margin-top: 0;
  /*padding: 12px 0;*/
  padding: 2px 5px; }

.add-control-set, button.add-control-set,
.remove-control-set, button.remove-control-set,
.edit-control-set, button.edit-control-set {
  width: 25px;
  height: 25px !important;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 0;
  color: #1ef250;
  border: 1px solid #656565;
  background-color: transparent;
  float: right; }

div.aor-cs.rt button {
  float: left; }

.add-control-set:hover, button.add-control-set:hover,
.remove-control-set:hover, button.remove-control-set:hover,
.edit-control-set:hover, button.edit-control-set:hover {
  background-color: var(--checkBoxBg); }

.add-control-set:hover, button.add-control-set:hover {
  border: 1px solid #1ef250; }

.remove-control-set, button.remove-control-set {
  color: #ff0000; }

.edit-control-set, button.edit-control-set {
  color: #f29600; }

.remove-control-set:hover, button.remove-control-set:hover {
  border: 1px solid #ff0000; }

.edit-control-set:hover, button.edit-control-set:hover {
  border: 1px solid #f29600; }

.hidden {
  display: none; }

.req-field {
  color: #ff0000; }

.req-field.g {
  color: #00ff00; }

#error-tip {
  height: auto;
  /*height:70px;*/
  min-width: 150px;
  max-width: 350px;
  border: 1px solid #353434;
  border-radius: 2px;
  background-color: #6b6b6b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 302;
  /*padding:10px;*/
  box-shadow: 0 1px 2px 2px rgba(19, 35, 47, 0.3);
  /*overflow: hidden;*/
  display: none; }

#error-tip h1 {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #353434;
  padding: 2px 10px;
  width: 100%; }

#error-tip h1 button {
  background: transparent;
  color: rgba(255, 255, 255, 0.71);
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  float: right;
  text-align: center;
  padding: 0;
  margin-top: 2px;
  margin-right: -5px;
  font-size: 18px;
  line-height: 0; }

#error-tip h1 button:hover {
  background: rgba(255, 255, 255, 0.71);
  color: var(--normalBgColor); }

#error-tip p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #ff0000;
  padding: 10px;
  padding-top: 5px; }

#error-tip p #field-name {
  color: var(--abacusBlue); }

#error-tip::before, #error-tip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0; }

#error-tip::before {
  top: -11px;
  border-bottom-color: var(--dividerColor);
  border-width: 10px;
  left: 5%; }

#error-tip::after {
  top: -10px;
  border-bottom-color: var(--normalBgColor);
  border-width: 10px;
  left: 5%; }

input[type=checkbox], input[type=radio] {
  display: none !important; }

/*region checkbox*/
.checkbox {
  /*padding-left:20px*/ }

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  /*border:1px solid #ccc;*/
  /*border-radius:3px;*/
  background-color: var(--checkBoxBg);
  /*transition:border .15s ease-in-out,color .15s ease-in-out;*/
  transition: all, border 0.15s ease-in-out, color 0.15s ease-in-out, ease-out; }

th .checkbox label, td .checkbox label {
  padding-left: 15px; }

th .checkbox label::before, td .checkbox label::before {
  left: 7px;
  margin-top: 2px; }

th .checkbox label::after, td .checkbox label::after {
  left: 7px;
  margin-top: 2px; }

input[type="checkbox"] {
  margin-right: 0; }

.tableCheckboxLabel {
  color: transparent; }

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 2px;
  margin-left: -20px;
  padding-left: 2px;
  padding-top: 0;
  font-size: 11px;
  color: #555; }

.field-wrap .checkbox label {
  margin-left: 20px; }

.checkbox input[type=checkbox] {
  opacity: 0; }

.checkbox input[type=checkbox]:focus + label::before {
  /*outline:dotted thin;*/
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px; }

.checkbox input[type=checkbox]:checked + label::after {
  font-family: FontAwesome, sans-serif;
  content: "\f00c"; }

.checkbox input[type=checkbox]:disabled + label {
  opacity: .65; }

.checkbox input[type=checkbox]:disabled + label::before {
  background-color: #eee;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type=checkbox]:checked + label::before {
  background-color: #555;
  border-color: #555; }

.checkbox-primary input[type=checkbox]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type=checkbox]:checked + label::before {
  background-color: #bd362f !important;
  border-color: #bd362f !important; }

.checkbox-danger input[type=checkbox]:checked + label::after {
  color: #fff; }

.checkbox-info input[type=checkbox]:checked + label::before {
  background-color: #0078ff;
  border-color: #0078ff; }

.checkbox-info input[type=checkbox]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type=checkbox]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.checkbox-warning input[type=checkbox]:checked + label::after {
  color: #fff; }

.checkbox-success input[type=checkbox]:checked + label::before {
  background-color: #4caf50;
  border-color: #4caf50; }

.checkbox-success input[type=checkbox]:checked + label::after {
  color: #fff; }

/*endregion*/
/*region radio button*/
/*.radio {
	padding-left:20px
}*/
.radio.radio-inline {
  margin-right: 10px;
  padding: 4px 0; }

.formContainer .radio.radio-inline {
  /*display: block;*/ }

.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  margin-right: 20px; }

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  /*left:40px;*/
  top: 2px;
  margin-left: 100%;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  /*transition:border .15s ease-in-out;*/
  transition: all, border .15s ease-in-out, ease-out; }

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 9px;
  height: 9px;
  left: 8px;
  top: 5px;
  margin-left: 100%;
  border-radius: 50%;
  background-color: #555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

.radio input[type=radio] {
  opacity: 0;
  margin: 0;
  margin-left: 5px; }

.radio input[type=radio]:focus + label::before {
  outline: none;
  /*this hides the dotted lines that appear around elements in focus*/
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px; }

.radio input[type=radio]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

.radio input[type=radio]:disabled + label {
  opacity: .65; }

.radio input[type=radio]:disabled + label::before {
  cursor: not-allowed; }

.radio-primary input[type=radio] + label::after {
  background-color: #0078ff; }

.radio-primary input[type=radio]:checked + label::before {
  border-color: #0078ff; }

.radio-primary input[type=radio]:checked + label::after {
  background-color: #0078ff; }

.radio-danger input[type=radio] + label::after {
  background-color: #bd362f; }

.radio-danger input[type=radio]:checked + label::before {
  border-color: #bd362f; }

.radio-danger input[type=radio]:checked + label::after {
  background-color: #bd362f; }

.radio-info input[type=radio] + label::after {
  background-color: #0078ff; }

.radio-info input[type=radio]:checked + label::before {
  border-color: #0078ff; }

.radio-info input[type=radio]:checked + label::after {
  background-color: #0078ff; }

.radio-warning input[type=radio] + label::after {
  background-color: #f0ad4e; }

.radio-warning input[type=radio]:checked + label::before {
  border-color: #f0ad4e; }

.radio-warning input[type=radio]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type=radio] + label::after {
  background-color: #4caf50; }

.radio-success input[type=radio]:checked + label::before {
  border-color: #4caf50; }

.radio-success input[type=radio]:checked + label::after {
  background-color: #4caf50; }

.radio label, .checkbox label {
  cursor: pointer; }

.radio {
  padding: 0; }

/*endregion*/
/*region rounded switch*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  /*position: absolute;*/
  /*top: 0;	left: 0;	right: 0;	bottom: 0;*/
  background-color: var(--checkBoxBg);
  -webkit-transition: .3s;
  width: 45px;
  height: 17px;
  cursor: pointer;
  display: inline-block;
  transition: .3s;
  z-index: 20; }

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  /*left: 2px; bottom: 3px;*/
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 1px;
  margin-left: 1px; }

input:checked + .slider {
  background-color: #0078ff; }

input:focus + .slider {
  box-shadow: 0 0 1px #0078ff; }

input:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*endregion*/
.goBack:hover {
  box-shadow: 0px 1px 0.2em 0.02em rgba(0, 0, 0, 0.3); }

.goBack:active {
  box-shadow: 0px 1px 0em 0.02em rgba(0, 0, 0, 0.3); }

.tokens .token {
  display: inline-block;
  height: 25px;
  width: auto;
  padding: 2px;
  border: 1px solid var(--abacusBlue);
  line-height: .9;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  padding-left: 3px; }

.token .closeBtn {
  color: #fff;
  line-height: 0;
  width: 14px;
  margin-left: 3px; }

.tokensRow {
  padding: 2px;
  background-color: var(--inputBg); }

.tokenRing {
  background-color: transparent !important;
  border: none !important; }

.tokenRing:focus {
  border: none !important; }

/*# sourceMappingURL=form.css.map */
