$menuBarShadow: ""; //set these variables
$contextMenuShadow: "";

.no-user-select
{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin v-menu
{
  ul li
  {
    width: 100%;
    height: 25px;
    position: relative;
    cursor: default;
    white-space: nowrap;
    box-sizing: content-box;

    a
    {
      display: block;
    }
  }

}

;

.menu
{
  &.v-drop
  {
    min-width: 170px;
    height: auto;
    width: auto;
    padding: 5px 0;
    box-shadow: 0 4px 7px var(--subMenuShadowColor);
    border: 1px solid var(--subMenuBorderColor);
    background: #fbfbfb;
    //region cmnts
    //position: absolute;
    //z-index: 150;
    //top: 100%;
    //position: absolute;
    //width:auto;
    //height:auto;
    //padding: 5px 2px;
    //border: 1px solid #c6c6c6;
    /*box-shadow: 3px 3px 0.1em 0.0025em rgb(165, 165, 165);*/
    //box-shadow: 2px 2px 0.1em 0.0025em rgb(86, 86, 86);
    //endregion
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 150px;
    @include v-menu;
  }

  &.h-menu
  {
    ul li
    {
      &.fl
      {
        float: left;
      }
      display: inline-block;
      line-height: 3.2;

      ul
      {
        display: none;
        padding: 5px 0;

        li
        {
          float: none;
          position: relative;
        }
        :hover
        {
          display: block;
        }
      }
    }

    //@include v-menu;

    ul
    {
      ul
      {
        position: absolute;
        min-width: 250px;
        //height: auto;
        padding: 5px 0;
        top: 100%;
        width: auto;
        /*box-shadow: 0 2px 2px var(--subMenuShadowColor);*/
        box-shadow: 0 4px 7px var(--subMenuShadowColor);
        border: 1px solid var(--subMenuBorderColor);
      }
    }
  }

  li
  {
    //line-height: 2.3;
    color: #2d2c2c;

    &.v-divider, &.vDivider
    {
      padding: 0;
      border-bottom: 1px solid #c6c6c6; //inlineColor
      height: 0 !important;
      width: 95% !important;
      margin: 0 auto;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    &.h-divider, &.hDivider
    {
      padding: 0;
      border-right: 1px solid #c6c6c6;
      height: 95% !important;
      width: 0 !important;
      margin-left: 5px;
      margin-right: 5px;
    }

    :hover:not(.disabledMenuItem)
    {
      //background-color: rgba(67, 187, 254, 0.46) !important;
      overflow: visible !important;
    }
  }

  li a
  {
    padding: 2px 5px;
    color: #2d2c2c;
    @extend .no-user-select
  }

  li:hover:not(.disabled) ul
  {
    display: block;
  }
}
