/*region Menu Bar*/

li
{
  list-style: none;
}

input::-moz-focus-inner
{
  border: 0;
}

p, h1, h3, div, section
{
  cursor: default;
}

#menuBar
{
  font-size: 16px;
  width: 100%;
  height: 50px;
  background-color:var(--normalBgColor);
  border-bottom: 1px solid var(--dividerColor);
  position: relative;/*msg made changes here*/
  top:0; /*todo made changes here*/
  z-index: 30;
  /*color: rgb(255, 255, 255);*/
  box-sizing: content-box;
}

#menuBar > div
{
  height: 49px !important;
  display: inline;
}

#logoDiv
{
  width: 150px;
  height: 100%;
  padding: 0 25px;
  display: inline-block !important;
}

#menuBar a
{
  /*color:#393f4c;*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#menuBar ul li a
{
  padding: 0 10px 0 10px;
}

#menuBar ul
{
  height: 100%;
  display: inline-block;
}

#menuBar ul li
{
  /*height: 100%;*/
  /*display: inline-block;*/
  vertical-align: middle;
  /*line-height: 1.87;*/
  line-height: 3.14;
  float: left;
  font-weight: 400;
  text-transform: uppercase;
}

/*region msg if you want to enable highlighting the back and border uncomment the lines below*/
#menuBar ul ul li
{
  line-height: 2.3;
}

#menuBar ul ul li a
{
  padding: 5px 10px 5px 10px;
}

#menuBar ul li:hover:not(.noHov), #menuBar ul li a:hover:not(.noHov)
{
  /*background-color: var(--menuItemHoverColor);*/
  color: var(--menuTextColor);
}

#menuBar ul li:hover:not(.noHov)
{
  background-color: var(--menuItemHoverColor);
  /*color: var(--menuTextColor);*/
}

#menuBar ul li:hover
{
  /*line-height: 1.78;*/
}

#menuBar ul li a
{
  /*msg */
  /*border: 1px solid transparent;*/
}

#menuBar ul li a:hover:not(.noHov)
{
  /*MSG if you want to enable highlighting the back and border uncomment the lines below*/
  /*background-color:  var(--menuItemHoverColor);*/
  /*border: 1px solid #0078ff;*/
}

/*endregion*/

/*endregion*/

/*region Menu Item rules*/

#menus, div.buttonMenus
{
  display: inline-block;
  box-sizing: content-box;
}

#menus ul ul
{
  display: none;
}

/*2th level deep menu*/
#menuBar ul li:hover:not(.disabled) > ul
{
  display: block;
}

/*!*4th level deep menu*!*/
/*#menus ul ul ul ul li:hover:not(.disabled) > ul*/
/*{*/
/*display: block;*/
/*}*/

#menus ul, div.buttonMenus ul
{
  background-color: var(--normalBgColor);
  position: relative;
  display: inline-table;
}

#menus ul::after, div.buttonMenus ul::after
{
  content: "";
  clear: both;
  display: block;
}

#menus ul li, div.buttonMenus ul li
{
  float: left;
  color: var(--menuTextColor);
}

/*#tools ul li:hover
{
    background: #ccc;
}
#tools ul li:hover a
{
    color: #000;
}*/

#menus ul li a, div.buttonMenus ul li a
{
  display: block;
  padding: 0 8px;
  /*background-color: var(--normalBgColor);*/
  /*color: #000;*/
  color: inherit;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#menus ul ul
{
  min-width: 250px;
  height: auto;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  width: auto;
  /*box-shadow: 0 2px 2px var(--subMenuShadowColor);*/
  box-shadow: 0 4px 7px var(--subMenuShadowColor);
  border: 1px solid var(--subMenuBorderColor);
}

#menus ul ul.long
{
  min-width: 300px;
}

#menuBar ul ul li
{ width: auto;
  /*height: 28.4px;*/
  float: none;
  /*border-top: 1px solid #898989;*/
  /*border-bottom: 1px solid #171717;*/
  text-transform: capitalize;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#menuBar ul ul li a
{
  height: 100%;
  width: auto;
  padding: 0 10px;
  /*background-color: var(--normalBgColor);*/
  color: inherit;
  font-size: 95%;
  font-weight: 400;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;


  transition: 0s ease;
}

#menus ul ul li a:hover
{
  /*background-color: #595959;*/
  /*color: #fff;*/
}

#menus ul ul ul li:hover
{
  background-color: var(--menuItemHoverColor);
  /*color: #fff;*/
}

#menus ul ul ul
{
  position: absolute;
  left: 100%; top: 0;
}

.activeMenuItem
{
  background-color: var(--menuItemHoverColor);
}

/*endregion*/
#menuBar ul li.hDivider
{
  border-bottom: 1px solid var(--dividerColor);
  height: 0;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#menuBar li.vDivider, #propertyBar li.vDivider
{
  width: 0;
  margin: 0 auto;
  margin-right: 3px;
  margin-left: 3px;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#menuBar li.vDivider a, #propertyBar li.vDivider a
{
  height: 25px;
  border-right: 1px solid var(--dividerColor);
  padding: 0;
  color: transparent;
  display: inline;
  margin: 0;
  width: 0;
  line-height: .5;
}

#menuBar .ellipsify
{
  text-overflow: ellipsis;
  overflow-wrap: normal;
  /*overflow:-moz-hidden-unscrollable;*/
  overflow: hidden;
  white-space: nowrap;
}

#menuBar li p
{
  max-width: 73%;
  height: auto;
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;

  /*ellipsify by default*/
  /*text-overflow:ellipsis;
  overflow-wrap:normal;
  overflow: hidden;
  white-space: nowrap;*/
}

#menuBar span
{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#menuBar li span.iconItem
{
  background-image: url("../css/images/editIcosSprite.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: left;
  margin-left: -8px;
  margin-top: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

#menuBar li li span.iconItem
{
  margin-right: 5px;
}

#menuBar li span.commandIcon /*imhere fixme*/
{
  background-image: url("../css/images/commandIcons.png") !important;
}

#menuBar li span.iconItem input
{
  pointer-events: all !important;
  margin: auto;
  padding: 0 10px;
  height: 100%;
  width: 100%;
}

#menuBar li span.smdl
{
  font-family: "segoe mdl2 Assets", sans-serif;
  background-image: none;
  vertical-align: text-bottom;
  pointer-events: none;
  text-align: center;
  font-weight: bold;
  /*text-transform: none;*/
}

#menuBar li span.fat
{
  background-image: none;
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
}

#menuBar li span.shortCut /*kb shortcut*/
{
  /*position: absolute;*/
  /*right: 8px;*/
  /*padding-right: 10px;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  color: var(--shortCutColor);
  margin-left: 30px;
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  /*line-height: 2.2;*/
}

/*region checkBox Type*/
#menuBar li .checkbox input[type=checkbox]
{
  opacity: 0;
  display: none;
}

#menuBar label
{
  display: inline-block;
  position: relative;
  /*padding-left: 5px;*/
  user-select: none;
  /*max-width: 90%;*/
  width: 100%;
  color: var(--menuTextColor);
}

#menuBar .checkbox-info input[type="checkbox"]:checked + label::before
{
  /*background-color: #0078ff;*/
  background-color: var(--checkGreen);
  /*border-color: #0078ff;*/
}

#menuBar .checkbox label::before
{
  content: "";
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  left: -4px;
  top: 2px;
  margin-left: -2px;
  /*border: 1px solid #353434;*/
  border: 1px solid transparent;
  border-radius: 0;
  background-color: var(--checkBoxBg);
  /*transition: border .15s ease-in-out,color .15s ease-in-out;*/
  transition: all, border .15s ease-in-out, color .15s ease-in-out, ease-out;
}

#menuBar .checkbox-info input[type="checkbox"]:checked + label::after
{
  /*color: #04ec1f;*/
  color: var(--normalBgColor);
}

#menuBar .checkbox input[type="checkbox"]:checked + label::after
{
  font-family: FontAwesome;
  content: "\f00c";
}

#menuBar .checkbox label::after
{
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1px;
  top: -2px;
  margin-left: -3px;
  padding-left: 2px;
  padding-top: 0;
  font-size: 15px;
  color: var(--checkBoxCheckBg);
}

/*region rounded switch*/
/* The switch - the box around the slider */

#menuBar label.toggleSwitch
{
  /*width: calc(100% - 17px);*/
}

/*#menuBar .checkbox label*/
/*{*/
/*margin: 0 !important;*/
/*}*/

#menuBar .switch
{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
#menuBar .switch input
{ display: none; }

/* The slider */
#menuBar .slider
{
  /*position: absolute;*/
  width: 44px;
  height: 17px;
  cursor: pointer;
  /*top: 0;	left: 0;	right: 0;	bottom: 0;*/
  display: inline-block;
  background-color: var(--checkBoxBg);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 20;
}

#menuBar .slider::before
{
  /*left: 2px; bottom: 3px;*/
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 2px;
  margin-left: 2px;
  top: 6px;
}

#menuBar input[type='checkbox']
{
  display: none;
}

#menuBar input:checked + .slider
{
  background-color: var(--abacusBlue);
}

/*input:checked + .slider::before {
margin-left: 2px;
}*/

#menuBar input:focus + .slider
{
  box-shadow: 0 0 1px var(--abacusBlue);
}

#menuBar input:checked + .slider:before
{
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  margin-left: -3px;
}

/* Rounded sliders */
#menuBar .slider.round
{
  border-radius: 34px;
  float: right;
  margin-top: 6px;
  margin-left: 10px;
}

#menuBar .slider.round:before
{
  border-radius: 50%;
}

/*endregion*/

/*endregion*/

/*region icons and dividers*/
#menus .rightChevron
{
  background-image: url("../css/images/rChevron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#menuBar .dChevron
{
  background-image: url("../css/images/dChevron2.png");
  /*background-size: contain;*/
  background-repeat: no-repeat;
  /*background-position: 100% 8px;*/
  background-position: center center;
}

#menuBar i.toolBoxIcon
{
  line-height: 2.7;
  font-size: 15px;
  float: inherit;
}

#menuBar li span.toolBoxIconItem
{
  background-image: url("../css/images/toolBoxSprite.png") !important;
  background-size: 300px;
}

#menuBar .disabled, #menuBar a[class="disabled"]
{
  /*background-color: #504E4E !important;*/
  color: #494848 !important;
  cursor: not-allowed !important;
  border-color: #5c5b5b !important;
  min-width: initial !important;
  text-shadow: 1px 1px 0 #b3b0b0;
  opacity: .5;
}

#menus li.disabled a
{
  color: var(--menuTextColor);
}

#menuBar .menuSetVDivider, #propertyBar .menuSetVDivider
{
  margin: 0 10px;
}

#menuBar div.buttonMenus ul li:hover:not(.noHov)
{
  background-color: var(--menuItemHoverColor);
}

/*endregion*/

/*region user info*/

#userInfo
{
  float: right;
}

#userInfo ul ul
{
  display: none;
}

#userInfo ul li:hover:not(.disabled) > ul
{
  /*this is where the dropdowns show*/
  /*display: block;*/
}

#userInfo ul ul
{
  min-width: 140px;
  height: auto;
  padding: 3px 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  filter: drop-shadow(0 0px 1px var(--subMenuShadowColor));
  border: 1px solid var(--subMenuBorderColor);
}

#userInfo ul ul li
{
  display: block;
}

#userInfo ul ul ul
{
  position: absolute;
  right: 100%; top: 0;
}

#userInfo .dropDown, #userInfo .dropDown:hover
{
  color: transparent !important;
}

#userImage
{
  width: 30px;
  border-radius: 50px;
  /*background-color: aliceblue;*/
  overflow: hidden;
  height: 30px;
  padding: .74%;
}

#userImage img
{
  height: 24px;
  width: 24px;
  vertical-align: sub;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  float: none;
}

#userInfo #userFullName
{
  background-color: var(--checkBoxBg);
  color: var(--useInfoTextColor);
  border-radius: 5px/14px;
  margin: 0 3px;
  /*line-height: 1.6;*/
}

#userFullName a
{
  max-width: 197px;
  margin-right: 20px;
  -webkit-margin-end: 24px;
}

#userFullName a::before
{
  /*background-color: #0078ff;*/
  background-color: var(--checkGreen);
  /*border-color: #0078ff;*/
}

#userFullName a::before
{
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -2px;
  /*border: 1px solid #353434;*/
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  right: 5px;
  top: 7px;
  float: right;
}

#menuBar span.svgIcon
{
  /*background-size: auto;*/
  background-image: url("../css/images/svg/svgIcoSprite.svg");
  background-size: 300px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: left;
  margin-left: -8px;
  margin-top: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;

  /*background-size: 20px;*/
  background-position-y: center;
}

.imgCBut
{
  background-image: url("../css/images/svg/cropper.svg");
  /*background-size: 15px !important;*/
  background-position-x: -32px;
}

.fullProfile
{
  background-image: url("../css/images/svg/profile.svg");
  /*background-size: 15px !important;*/
  background-position-x: -112px;
}

.logOutIcon
{
  background-image: url("../css/images/svg/lock.svg");
  background-position-x: -189px;
}

.notificationsIcon
{
  background-image: url("../css/images/svg/notifyme.svg");
  background-position-x: -84px;
}

.consolidateIcon
{
  background-image: url("../css/images/svg/myunity.svg");
  background-position-x: -59px;
}

.prefIcon
{
  background-image: url("../css/images/svg/preferences.svg");
  background-position-x: -166px;
}

#userFullName a::after
{
  color: var(--normalBgColor);
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  font-size: 12px;
  right: 2px;
}

/*endregion*/

/*region user*/
label.containerLable
{
  pointer-events: none;
}

#userInfo #userDetailPreview
{
  top: 126% !important;
  right: 2px !important;
}

#userDetailPreview::before, #userDetailPreview::after
{ content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
}

#userDetailPreview::before
{
  top: -11px;
  border-bottom-color: var(--dividerColor);
  border-width: 10px;
  left: calc(100% - 24px);
}

#userDetailPreview::after
{
  top: -10px;
  border-bottom-color: var(--normalBgColor);
  border-width: 10px;
  left: calc(100% - 24px);
}

#userImageLg
{
  height: auto !important;
  text-align: center;
  padding: 5px;
  /*padding-bottom: 0;*/
}

#userImageLgContainer
{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 3px var(--subMenuShadowColor);
}

#userImageLg img
{
  width: 60px;
  height: 60px;
}

#userEdit
{
  position: relative;
  /*bottom: 26px;*/
  bottom: 6px; /*if you want it animated*/
  height: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  /*display: none;*/
  display: block; /*if you want it animated*/
  cursor: pointer;
  transition: bottom .15s;
}

#userImageLgContainer:hover > #userEdit
{
  /*display: block;*/
  bottom: 26px; /*if you want it animated*/
}

/*endregion*/

/*region messages*/
#userInfo #messagesPreview
{
  top: 139% !important;
  right: 28px !important;
}

#userInfo #notesPreview
{
  top: 139% !important;
  right: 63px !important;
}

.seeNotifications
{
  /*background-image: url("../css/images/svg/notification.svg.png");*/
  background-repeat: no-repeat;
  background-position: center;
  /*color: var(--menuTextColor) !important;*/
  /*color: #00a5ff !important;*/
  /*color: #3F86F4 !important;*/
  color: var(--abacusBlue) !important;
  /*background-size: 70%;*/
}

.seeMsgNotifications
{
  background-image: url("../css/images/svg/notification.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 70%;*/
}

div .notificationsCount
{
  background-color: red;
  color: white;
  position: absolute;
  height: 13px;
  min-width: 13px;
  width: auto;
  font-size: 11px;
  border-radius: 50%;
  text-align: center;
  line-height: .8;
  top: 1px;
  padding: 2px;
  font-weight: 600;
  pointer-events: none;
  right: 60px !important;
}

.seeMsgNotifications .notificationsCount
{
  right: 25px !important;
}

.notificationsPreview
{
  box-shadow: none !important;
  filter: drop-shadow(0 0px 1px var(--subMenuShadowColor));
}

.notificationsPreview::before, .notificationsPreview::after
{ content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
}

.notificationsPreview::before
{
  top: -11px;
  border-bottom-color: var(--dividerColor);
  border-width: 10px;
  left: calc(100% - 24px);
}

.notificationsPreview::after
{
  top: -10px;
  border-bottom-color: var(--normalBgColor);
  border-width: 10px;
  left: calc(100% - 24px);
}

.notificationsPreview li
{
  height: 43px !important;
  /*min-width: 300px;*/
  min-width: 350px;
  overflow: hidden;
  padding: 4px;
  max-width: 420px;
}

.notificationsPreview li.label
{
  height: 25px !important;
  line-height: .8 !important;
}

.notificationsPreview li.heading
{
  pointer-events: none;
}

.notificationsPreview li.hbdOwner
{
  background-color: var(--abacusBlue) !important;
  color: #fff !important;
  line-height: 1.2;
  height: 59px !important;
  background-image: url("../css/images/bdayCake.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 55px;
}

.notificationsPreview li.hbdOwner p
{
  line-height: 1.2;
  max-width: 80% !important;
}

.notificationsPreview li.heading:hover
{
  /*background-color: var(--normalBgColor) !important;*/
}

.notificationsPreview li
{
  border-bottom: 1px solid var(--dividerColor);
}

.notificationsPreview li.seen
{
  background: #606060;
}

.notificationsPreview li:last-child
{
  border-bottom: none;
}

#messagesPreview li .msgSenderIcon, .notificationsPreview li .noteIcon
{
  height: inherit;
  width: 30px;
  overflow: hidden;
  padding-right: 4px;
  /*border-right: 1px solid var(--dividerColor);*/
  float: left;
}

.notificationsPreview li img
{
  width: inherit;
  vertical-align: middle;
}

.notificationsPreview li img.emojiMco
{
  vertical-align: text-top;
  width: 14px !important;
}

.msgDetailsPreview
{
  float: right;
  height: inherit;
  width: calc(100% - 50px);
  font-size: 14px;
  padding: 0 5px;
}

.msgDetailsPreview .topRow, .msgDetailsPreview .bottomRow
{
  height: 18px;
  width: 100%;
  overflow: hidden !important;
  line-height: 1.2;
}

.msgDetailsPreview .time
{
  opacity: .7;
  font-size: 12px;
  font-weight: 600;
}

/*.msgDetailsPreview .bottomRow*/
/*{*/
/*height: 18px;*/
/*width: 100%;*/
/*overflow: hidden;*/
/*}*/

.msgDetailsPreview p
{
  height: inherit;
}

#messagesPreview li.seen p
{
  opacity: .7 !important;
}

.msgMgtIcons
{
  width: 15px;
  height: 100%;
  float: right;
}

.msgMgtIcons button
{
  width: 15px !important;
  height: 15px !important;
  padding: 0 !important;
  border: 0 !important;
  min-width: unset !important;
  margin: unset !important;
  background-color: transparent !important;
  color: #000 !important;
  display: block !important;
  opacity: .5;
}

.msgMgtIcons button.close
{
  font-size: 18px !important;
  line-height: .6 !important;
  margin-bottom: 4px !important;
}

.msgMgtIcons button.markAsRead
{
  font-size: 12px !important;
}

.msgMgtIcons button.read
{
  font-size: 12px !important;
  color: #04ec1f !important;
  pointer-events: none;
  opacity: 1 !important;
}

.msgMgtIcons button:hover
{
  /*border: 1px solid rgba(0, 0, 0, 0.1) !important;*/
  opacity: 1;
  /*color: var(--abacusBlue) !important;*/
}

.floatingItems
{
  position: absolute;
  top: 0;
  z-index: 50;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--tintColor);
}

.bdayWish
{
  /*position: absolute;*/
  margin: auto auto;
  margin-top: 100px;
  height: 350px;
  width: 524px;
  border-radius: 10px;
  overflow: hidden;
}

.bdayWish img
{
}

.floatingItems p
{
  position: relative;
  top: -150px;
  text-align: center;
  color: rgb(97, 41, 101);
  font-size: 27px;
  font-weight: 500;
  text-transform: capitalize;
}

#bdayWishCloseBtn
{
  color: #2d2c2c;
  min-width: 40px;
  height: 20px;
  background-color: rgba(255, 255, 255, .4);
  border-bottom-left-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  line-height: 1;
}

#bdayWishCloseBtn:hover
{
  background-color: red;
  color: white;
}

.floatingItems button
{
  position: relative !important;
  top: 20px !important;
  left: 92.4% !important;
}

/*endregion*/


