#propertyBar
{
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  /*border-radius: 2px;*/
  font-size: 18px;
  background: var(--normalBgColor);
  border-bottom: 1px solid var(--dividerColor);
  font-family:"segoe ui", "sertig", "helvetica", "Open Sans", "Source Sans Pro", "arial", sans-serif;
  position: relative;
  /*z-index: 29;*/
  /*overflow: hidden;*/
}

#desktop
{
  padding: 0;
}

.scrollableContainer
{
  width: 100% !important;
}

#propertyBar form
{
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  display: inline-block;
  float: left;
}

#propertyBar select
{
  /*border:1px solid #ccc;*/
  height: 29px;
  margin-bottom: 0;
  padding: 0 5px;
  min-width: unset;
}

#propertyBar .radio.radio-inline
{
  padding: 0;
}

#propertyBar .longSearchBar
{
  background-image: url('../css/images/searchicon.png'); /* Add a search icon to input */
  background-position: 9px 7px;
  background-repeat: no-repeat;
  background-size: 14px;
  width: 67.5% !important;
  font-size: 16px;
  padding: 4px 30px 4px 40px;
  /*border: 1px solid #ddd;*/
  /*border: 1px solid #93929266;*/
  margin: 0;
  /*vertical-align: middle;*/
}

#propertyBar input
{
  display: inline-block  !important;
  min-width: unset  !important;
  margin-bottom: inherit;
  height: 28px !important;
}

#propertyBar input:not(.shortInp)
{
  width: unset !important;

}

#propertyBar input[type=checkbox], #propertyBar input[type=radio]
{
  display: none !important;
}

#propertyBar input[type="button"], #propertyBar input[type="submit"], #propertyBar button:not(.datepicker_button)
{
  height: unset;
}

#sidebar, #sidebar2 /*changedhere*/
{
  height: calc(100% - 70px) !important;
  padding-top: 0 !important;
  overflow-x: hidden;
}

#propertyBar .tableListSearchForm
{
  height: unset;
}

#propertyBar label
{
  color: var(--menuTextColor);
  font-size: unset;
  line-height: 1;
}

#propertyBar input.shortInp, #propertyBar select.shortSel, input.shortInp
{
  width: 100px !important
}

#propertyBar input.shortInp:hover
{
  /*background: rgba(0, 120, 255, 0.68);*/
  border-color: #0078ff;
}

#propertyBar h1.tableListFormHeading /*changedhere*/
{
  /*width: 100%;*/
  height: 28px;
  background: #0078ff;
  margin: 0;
  padding-right: 30px;
  color: #fff;
  padding-left: 10px;
  font: 24px "segoe ui";
  line-height: 1.0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: super;
}

table, .tablePanel
{
  border: 0;
}

#scrollableC2
{
  background-color: var(--normalBgColor);
}

.teacherSubjectList li
{
  padding: 20px;
  margin: 0 !important;
}

ul.teacherSubjectList li:nth-child(4n+1)
{
  margin: 20px;
}

#propertyBar .styleSwitchBtns
{
  margin-top: -31px;
  margin-right: 0;
}

:root
{
  --propertyBarHeight: 40px;
}

#propertyBar .menuSetVDivider
{
  display: inline-block;
}

#propertyBar li.vDivider a
{
  height: 28px;
  display: inline-block;
}

.colEditPlusIcon
{
  border-radius: 50%;
  height: 24px !important;
  width: 24px;
  background-color: white;
  border: 1px solid var(--abacusBlue);
  color: var(--abacusBlue);
  line-height: .5;
  cursor: pointer;

  position: relative;
  top: -4px;

}

.pbBtn
{
  cursor: pointer;
  line-height: .5;
  position: relative;
  top: -4px;
  height: 29px !important;
  width: 24px;
  vertical-align: text-bottom;

}

/*region checklist*/
.checkList
{
  position: absolute;
  z-index: 20;
  display: none;
}

.checkList label
{
  width: calc(100% - 10px);
}

.checkList ul::before
{
  top: -11px;
  border-bottom-color: var(--dividerColor);
  border-width: 10px;
  left: 6px;
}

.checkList ul::before, .checkList ul::after
{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;

}
.checkList ul::after {
  top: -10px;
  border-bottom-color: var(--normalBgColor);
  border-width: 10px;
  left: 6px;
}

.checkList ul{
  min-width: 150px;
  height: auto;
  padding: 3px 0;
  background-color: var(--normalBgColor);
  /*position: absolute;*/
  top: 100%;
  width: auto;
  /*box-shadow: 0 2px 2px var(--subMenuShadowColor);*/
  box-shadow: 0 4px 7px var(--subMenuShadowColor);
  border: 1px solid var(--subMenuBorderColor);
  filter: drop-shadow(0 0px 1px var(--subMenuShadowColor));

}

.checkList ul li
{ width: auto;
  height: 28.4px;
  float: none;
  /*border-top: 1px solid #898989;*/
  /*border-bottom: 1px solid #171717;*/
  text-transform: capitalize;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid var(--dividerColor);
  padding: 3px 1px;
}

.checkList ul li a
{
  height: 100%;
  width: auto;
  padding: 0 10px;
  /*background-color: var(--normalBgColor);*/
  color: inherit;
  font-size: 95%;
  font-weight: 400;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.checkList ul li:hover
{
  background-color: var(--menuItemHoverColor);
  /*color: #fff;*/
}

.checkList .checkbox label
{
  color: #000000;
  padding-left: 17px !important;
}

.checkList .checkbox label::before
{
  left: 15px;
  background: var(--checkBoxBg);
}

.checkList .checkbox label::after
{
  left: 17px;
}
/*endregion */