
.fillParent, .fp
{
  height: 100%;
  width: 100%;
}

.fillParentHorizontal, .fph
{
  width: 100%;
}

.fillParentVertical, .fpv
{
  height: 100%;
}

.fillParentHorizontalAuto, .fpha
{
  width: 100%;
  height: auto;
}

.fillParentVerticalAuto, .fpva
{
  height: 100%;
  width: auto;
}

//using percentages only now which would require a diff class name convention
//may need to add pixels later
$nums: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 55, 70, 75, 80, 85, 90, 95;
$classes : 1, 15, 2, 25, 3, 35, 4, 45, 5, 55, 6, 65, 7, 75, 8, 85, 9, 95;

//horizontal or vertical
$dimms : 'h', 'v';
$dimms : (
    'h' : "width",
    'v' : "height"
);

//fill parent classes
.fp
{
  @each $dimm, $rule-key in $dimms{

    &#{$dimm}05
    {
      #{$rule-key}: 5%;
    }

    $i : 1;
    @each $class in $classes
    {
      &#{$dimm}#{$class}
      {
        #{$rule-key}: #{nth($nums, $i)}#{'%'};
      }
      $i : $i + 1;
    }

    $nums2: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 110, 115, 120, 125, 150, 170, 175, 180, 190, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700;
    @each $num in $nums2
    {
      &#{$dimm}-#{$num}
      {
        #{$rule-key}: calc(100% - #{$num}#{'px'});
      }
    }
  }
}

.h{
  &-i{
    height: inherit;
  }

  &a
  {
    height: auto;
  }

  &wa
  {
    height: auto;
    width: auto;
  }

  &w-i
  {
    height: inherit;
    width: inherit;
  }

  &-ii
  {
    height: inherit !important;
  }

  &w-ii
  {
    height: inherit !important;
    width: inherit !important;
  }

  &ai
  {
    height: auto !important;
  }

  &wai
  {
    height: auto !important;
    width: auto !important;
  }
}

.w{
  &-i{
    width: inherit;
  }

  &a
  {
    width: auto;
  }

  &ai
  {
    width: auto !important;
  }
}

//
$nums: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 60, 70, 80, 90, 100, 110, 120, 150, 170, 180, 190, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700;

$metrics: (
    "h" : "height",
    "min-h" : "min-height",
    "max-h" : "max-height",
    "w" : "width",
    "min-w" : "min-width",
    "max-w" : "max-width",
    "hw" : ""
);

@mixin create-rules($list, $rule-key, $metric, $unit)
{
  @each $num in $list
  {
    @if ($rule-key != "")
    {
      @if($unit == "px"){
        .#{$metric}#{$num}
        {
          #{$rule-key}: #{$num}#{$unit};
        }
      }
      @else{
        .#{$metric}#{$num}p
        {
          #{$rule-key}: #{$num}#{$unit};
        }
      }
    }
    @else
    {
      @if($unit == "px"){
        .#{$metric}#{$num}
        {
          height: #{$num}#{$unit};
          width: #{$num}#{$unit};
        }
      }
      @else{
        .#{$metric}#{$num}p
        {
          height: #{$num}#{$unit};
          width: #{$num}#{$unit};
        }
      }

    }

  }
}

@each $met, $rule-key in $metrics
{
  @include create-rules($nums, #{$rule-key}, $met, "px");
  @include create-rules($nums, #{$rule-key}, $met, "%");
}


