///@author Kobina Koomson G.

$nums: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100;
$positions: (
    "b" : "bottom",
    "t" : "top",
    "l" : "left",
    "r" : "right");


@mixin create-rules($list, $rule-key, $unit)
{
  @each $num in $list
  {
    &#{$unit}#{$num}
    {
      #{$rule-key}: #{$num}px;
    }

    &#{$unit}#{$num}p
    {
      #{$rule-key}: #{$num}#{'%'};
    }
  }
}

.p
{
  &d
  {
    @each $num in $nums
    {
      &#{$num}
      {
        padding: #{$num}px;
      }
      &#{$num}p
      {
        padding: #{$num}#{'%'};
      }
    }

    @each $key, $value in $positions{
      @include create-rules($nums, "padding-" + $value, $key)
    }

    @mixin create-rules2($list, $rule-key, $rule-class)
    {
      @each $num in $list
      {
        &#{$rule-class}#{$num}
        {
          padding-#{nth($rule-key, 1)}: #{$num}px;
          padding-#{nth($rule-key, 2)}: #{$num}px;
        }

        &#{$rule-class}#{$num}p
        {
          padding-#{nth($rule-key, 1)}: #{$num}#{'%'};
          padding-#{nth($rule-key, 2)}: #{$num}#{'%'};
        }
      }
    }

    $positions: (
        "tb" : ("top", "bottom"),
        "tr" : ("top", "right"),
        "tl" : ("top", "left"),
        "lr" : ("left", "right"),
        "lb" : ("left", "bottom")
    );

    @each $rule-class, $rule-keys in $positions{
      @include create-rules2($nums, $rule-keys, $rule-class)
    }
  }
}