$nums: 0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$positions: (
    "b" : "bottom",
    "t" : "top",
    "l" : "left",
    "r" : "right");


@mixin create-rules($list, $rule-key, $unit)
{
  @each $num in $list
  {
    &#{$unit}#{$num}
    {
      #{$rule-key}: #{$num}px;
    }

    &#{$unit}#{$num}p
    {
      #{$rule-key}: #{$num}#{'%'};
    }
  }
}

.p
{
  &d
  {
    @each $num in $nums
    {
      &#{$num}
      {
        padding: #{$num}px;
      }
      &#{$num}p
      {
        padding: #{$num}#{'%'};
      }
    }

    @each $key, $value in $positions{
      @include create-rules($nums, "padding-" + $value, $key)
    }

    @mixin create-rules2($list, $rule-key, $rule-class)
    {
      @each $num in $list
      {
        &#{$rule-class}#{$num}
        {
          padding-#{nth($rule-key, 1)}: #{$num}px;
          padding-#{nth($rule-key, 2)}: #{$num}px;
        }

        &#{$rule-class}#{$num}p
        {
          padding-#{nth($rule-key, 1)}: #{$num}#{'%'};
          padding-#{nth($rule-key, 2)}: #{$num}#{'%'};
        }
      }
    }

    $positions: (
        "tb" : ("top", "bottom"),
        "tr" : ("top", "right"),
        "tl" : ("top", "left"),
        "lr" : ("left", "right"),
        "lb" : ("left", "bottom")
    );

    @each $rule-class, $rule-keys in $positions{
      @include create-rules2($nums, $rule-keys, $rule-class)
    }
  }
}