///@author Kobina Koomson G.

/// Set these styles on all elements
///core
*
{
  margin                  : 0;
  padding                 : 0;
  box-sizing              : border-box;
  border                  : 0;
  outline                 : none;
  /*-webkit-user-select: none;*/
  /*transition: all .3s;*/
  text-rendering          : optimizeLegibility;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

*:before, *:after
{
  margin     : 0;
  box-sizing : border-box;
}

*:focus, *:active, *:hover
{
  outline : none;
}

/*region Menu Bar*/
body
{
  //background        : #fbfbfb;

  /*background-image: url("../images/homebs/bgs1.jpg");*/
  background-size   : cover;
  background-repeat : no-repeat;
  //msg commented the line below out to allow scrolling the page
  //overflow          : hidden;
}

body, html
{
  font-family : "segoe ui", "helvetica", "arial", sans-serif;
  font-weight : 300;
}

li
{
  list-style : none;
}

input::-moz-focus-inner
{
  border : 0;
}

a
{
  text-decoration : none;
}

///Remove outline (Thick blue line or dotted line that appears on elements when they are in focus
a:hover, a:active, a:focus
{
  /* styling for any way a link is about to be used */
  outline : none;
}
li
{
  list-style : none;
}

///Disables pointer events an element
/// @group  core
.pe-n
{
  pointer-events : none;
}

///Enables pointer events an element
/// @group  core
.pe-a
{
  pointer-events : all;
}



///
.bxz{
  &-bb{
    box-sizing: border-box;
  }
  &-cb{
    box-sizing: content-box;
  }
}

///Set the cursor of [span, p, h1, h2, h3, h4, h5, h6, div, section]::before, ::after to default
span, p, h1, h2, h3, h4, h5, h6, div, section
{
  cursor : default;

  &::before{
    cursor : default;
  }

  &::after{
    cursor : default;
  }
}

///sets the mouse pointer (cursor) that shows when the mouse is over the element
///<br> cur-{$type} = cursor{Type of cursor(system defined)}
///<br> $type ranges from [ptr = pointer, rr = row resize, dflt | dft = default,
///<br> cr = col-resize, ner = nwr = north west resize, nd = no drop, busy | n-a = not allowed]
/// @group  core
.cur
{
  &-
  {
    &ptr
    {
      cursor : pointer;
    }
    &dflt, &dft
    {
      cursor : default;
    }
    &rr
    {
      cursor : row-resize;
    }

    &cr
    {
      cursor : col-resize;
    }

    &ner
    {
      cursor : ne-resize;
    }

    &nwr
    {
      cursor : nw-resize;
    }

    &busy, &n-a{
      cursor: not-allowed;
    }
    &nd{
      cursor: no-drop;
    }
  }
}

/// Disable pointer events on
i.fa:not(.fa-calendar), button span
{
  pointer-events : none;
}
/*select
{
  -moz-appearance     : none;
  -webkit-appearance  : none;
  background-image    : url("/src/bumblebee/images/dChevronw.png");
  background-repeat   : no-repeat;
  background-position : 100% 61%;
  background-size     : 30px;
  padding-right       : 25px !important;
  outline             : none;
}*/
