//region background repeat
.bg-r
{
  background-repeat : repeat;
}

.bg-ry
{
  background-repeat : repeat-y;
}

.bg-rx
{
  background-repeat : repeat-x;
}

.bg-nr
{
  background-repeat : no-repeat;
}

//endregion

//region background size
.bgs-con
{
  -webkit-background-size : contain; background-size : contain;
}

.bgs-cov
{
  -webkit-background-size : cover; background-size : cover;
}

$nums : 0, 1, 2, 3, 4, 5, 8, 9, 10, 12, 15, 20, 25, 30, 35, 40, 45, 50, 51, 52, 53, 54, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@mixin create-rules($list, $unit)
{
  @if ($unit == "%")
  {
    @each $num in $list
    {
      &#{"-"}#{$num}p
      {
        -webkit-background-size : #{$num}#{$unit};background-size : #{$num}#{$unit};
      }
    }
  } @else
  {
    @each $num in $list
    {
      &#{"-"}#{$num}
      {
        -webkit-background-size : #{$num}#{$unit};background-size : #{$num}#{$unit};
      }
    }
  }
}

.bgs
{
  @include create-rules($nums, "%");
  @include create-rules($nums, "px");
}

//endregion

//region background attachment
.bga-f
{
  background-attachment : fixed;
}

.bga-s
{
  background-attachment : scroll;
}

.bga-l
{
  background-attachment : local;
}

//endregion

//region background position
.bgp-center
{
  background-position : center center;
}

.bgp-x-center
{
  background-position-x : center;
}

.bgp-y-center
{
  background-position-y : center;
}

@mixin create-rules($list, $rule-key, $unit)
{
  @if ($unit == "%")
  {
    @each $num in $list
    {
      &#{$num}p
      {
        $value : if($rule-key == "background-position", #{$num}#{$unit}, "");

        #{$rule-key} : #{$num}#{$unit} #{$value} ;

        @if($rule-key != "background-position")
        {
          -ms-#{$rule-key} : #{$num}#{$unit} #{$value};
        }
      }
    }
  }
  @else
  {
    @each $num in $list
    {
      &#{$num}
      {
        $value : if($rule-key == "background-position", #{$num}#{$unit}, "");

        #{$rule-key} : #{$num}#{$unit} #{$value};

        @if($rule-key != "background-position")
        {
          -ms-#{$rule-key} : #{$num}#{$unit} #{$value};
        }
      }
    }
  }
}

$rule-keys : "background-position",
"background-position-x",
"background-position-y",;

.bgp
{
  @include create-rules($nums, "background-position", "px");

  @include create-rules($nums, "background-position", "%");

  &-x-{
    @include create-rules($nums, "background-position-x", "px");

    @include create-rules($nums, "background-position-x", "%");
  }

  &-y-{
    @include create-rules($nums, "background-position-y", "px");

    @include create-rules($nums, "background-position-y", "%");
  }
}

//endregion