.bdr
{
  border: 1px solid var(--dividerColor);
}

.bb
{
  border-bottom: 1px solid var(--dividerColor);
}

.bb2
{
  border-bottom: 2px solid var(--dividerColor);
}

.bt
{
  border-top: 1px solid var(--dividerColor);
}

.bl
{
  border-left: 1px solid var(--dividerColor);
}

.br
{
  border-right: 1px solid var(--dividerColor);
}