/*region rows and cols*/
.col-2
{
  width: 50%;
  display: inline-block;
  float: left;
}

.col-2:first-of-type
{
  padding-right: 5px;
}

.col-2:last-of-type
{
  padding-left: 5px;
}

.col-3
{
  width: 33.33333333%;
  display: inline-block;
  float: left;
}

.col-4
{
  width: 25%;
  display: inline-block;
  float: left;
}

.row-2
{
  height: 50%;
  display: block;
}

.row-3
{
  height: 33.33333333%;
  display: block;
}

.row-4
{
  height: 25%;
  display: block;
}

/*region aspect ratio, Heavily influenced by tuts on www.w3schools.com/howto*/
.a1x1 .container /* 1:1 Aspect Ratio */
{
  background-color: red;
  width: 100%;
  padding-top: 100%;
  position: relative; /* If you want text inside of it */
}

.a1x1 .text
{
  /* If you want text inside of the container */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.a16x9 .container
{
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.a16x3 .container
{
  padding-top: 75%; /* 4:3 Aspect Ratio */
}

.a3x2 .container
{
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.a8x5 .container
{
  padding-top: 62.5%; /* 8:5 Aspect Ratio */
}

/*endregion*/