$nums : 0, 1, 2, 3, 4, 5, 8, 10, 12, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;


.hidden, .hide
{
  display: none;
}

.centerToDiv
{
  margin: 0 auto;
}

.fr
{
  float: right !important;
}

.fl
{
  float: left !important;
}

.inlineBlock, .inline-block, .iblk
{
  display: inline-block;
}

.block, .blk
{
  display: block;
}

.abs
{
  position: absolute;
}

.rltv
{
  position: relative;
}

.fxd
{
  position: fixed;
}

.top
{
  @each $num in $nums{
    &#{$num}{
      top: #{$num}px;
    }
    &#{$num}p
    {
      top: #{$num}#{'%'};
    }
  }

  &-ctr{
    top: center;
  }
}

//bottom
.btm{
  @each $num in $nums{
    &#{$num}{
      bottom : #{$num}px;
    }
    &#{$num}p
    {
      bottom : #{$num}#{'%'};
    }
  }

  &-ctr{
    bottom: center;
  }
}

//left
.left{
  @each $num in $nums{
    &#{$num}{
      left : #{$num}px;
    }
    &#{$num}p
    {
      left : #{$num}#{'%'};
    }
  }

  &-ctr{
    left: center;
  }
}

//right
.right{
  @each $num in $nums{
    &#{$num}{
      right : #{$num}px;
    }
    &#{$num}p
    {
      right : #{$num}#{'%'};
    }
  }

  &-ctr{
    right: center;
  }
}

.zi{
  @each $num in $nums{
    &#{$num}{
      z-index : #{$num};
    }
  }
}

.oh{
  overflow: hidden;
}

.scrollable, .scroll, .xys
{
  overflow: auto;
}

.yScroll, .ys
{
  overflow-y: auto;
}

.xScroll, .xs
{
  overflow-x: auto;
}

.clearfix
{
  clear: both;
  float: none !important;
}

$ps : 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1;
$nums : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

.op{
  @each $num in $nums
  {
    &#{$num}
    {
      opacity: #{nth($ps, $num)};
    }
  }
}