


.hidden, .hide
{
  display: none;
}

.centerToDiv
{
  margin: 0 auto;
}

.fr
{
  float: right !important;
}

.fl
{
  float: left !important;
}

.inlineBlock, .inline-block, .iblk
{
  display: inline-block;
}

.block, .blk
{
  display: block;
}


.abs
{
  position: absolute;
}

.rltv
{
  position: relative;
}

.fxd
{
  position: fixed;
}

.top0{
  top: 0;
}

//bottom
.btm0{
  top: 0;
}

.oh{
  overflow: hidden;
}

.scrollable, .scroll, .xys
{
  overflow: auto;
}

.yScroll, .ys
{
  overflow-y: auto;
}

.xScroll, .xs
{
  overflow-x: auto;
}

.clearfix
{
  clear: both;
  float: none !important;
}

$ps : 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1;
$nums : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

.op{
  @each $num in $nums
  {
    &#{$num}
    {
      opacity: #{nth($ps, $num)};
    }
  }
}