.m0
{
  margin: 0;
}
.m5
{
  margin: 5px;
}
.m10
{
  margin: 10px;
}
.m15
{
  margin: 15px;
}

.mr5
{
  margin-right: 5px;
}

.m20
{
  margin: 20px;
}

.m0a
{
  margin: 0 auto;
}

.ma0
{
  margin: auto 0;
}

.maa
{
  margin: auto;
}

.mt0{
  margin-top: 0;
}

.mt2{
  margin-top: 2px;
}

.mt5{
  margin-top: 5px;
}

.mt10{
  margin-top: 10px;
}

.mt15{
  margin-top: 15px;
}

.mt25{
  margin-top: 25px;
}

.mt30{
  margin-top: 30px;
}

.mt45{
  margin-top: 45px;
}

.mt50{
  margin-top: 50px;
}

.mt80{
  margin-top: 80px;
}