:root {
  --themeBase: #fff;
  --normalBgColor: #fff;
  --menuItemHoverColor: #efefef;
  --menuTextColor: #393f4c;
  --useInfoTextColor: #000;
  --checkBoxBg: #f4f4f4;
  --checkBoxCheckBg: #ccc;
  --checkGreen: #04ec1f;
  --abacusBlue: #0078ff;
  --mestBlue: #5577ba;
  --dividerColor: #d7e0e0;
  --shortCutColor: #888f8e;
  --subMenuBorderColor: #ccc;
  --themeHighlightColor: rgba(218, 38, 255, 0.26);
  --themeHighlightComplement: #f1f1f1;
  --workSpaceBgColor: #f1f1f1;
  --inputBg: rgba(255, 255, 255, 0.45);
  --inputFg: #000;
  --subMenuShadowColor: rgba(0, 0, 0, .2);
  --dialogFootColor: #fcfcfc;
  --tabHoverColor: #23ff8c;
  --tileTagColor: #0095ff;
  --tintColor: rgba(255, 255, 255, 0.67);
  --disabledBg: #eee !important;
  --disabledFg: #d4d4d4 !important;
  --disabledBorderColor: #e2e3e4 !important;
  --disabledTextShadow: 1px 1px 0 #fff;
  --formLabelColor: #9ba4af;
  --formLabelColor2: #9ba4af;
  --halfTint: rgba(255, 255, 255, .5);
  --halfTint2: rgba(255, 255, 255, .7);
  --tableBgColor: #fff;
  --rowDividerColor: var(--dividerColor);
  --rowHighLightColor: var(--themeHighlightColor);
  --thBgColor: #fff;
  --thTextColor: #000;
  --theadBorderBtm: 1px solid var(--dividerColor);
  --dialogDivider: #ccc;
  --dialogBorder: #e6e6e6;
  --msgBoxInputBg: #f5f5f5;
  --treeListBg: #f4f4f4; }

:root {
  --normalBgColor: #fff;
  --menuItemHoverColor: #efefef;
  --menuTextColor: #393f4c;
  --useInfoTextColor: #000;
  --checkBoxBg: rgba(58, 58, 58, 0.39);
  --checkBoxCheckBg: #ccc;
  --checkGreen: #04ec1f;
  --abacusBlue: #0078ff;
  --dividerColor: #d7e0e0;
  --shortCutColor: #888f8e;
  --subMenuBorderColor: #ccc;
  --subMenuShadowColor: rgba(0, 0, 0, 0.63);
  --themeHighlightColor: rgba(218, 38, 255, 0.26);
  --chekkit-green: #74e79d;
  --chekkit-green-2: #67C960;
  --chekkit-blue: #52d9dd;
  --chekkit-gradient: linear-gradient(130deg, #74e79d 0%, #52d9dd 100%); }

.disabled, a[class="disabled"] {
  background-color: var(--disabledBg) !important;
  color: var(--disabledFg) !important;
  cursor: not-allowed !important;
  border-color: var(--disabledBorderColor) !important;
  min-width: initial !important;
  text-shadow: var(--disabledTextShadow) !important;
  pointer-events: none !important; }

.disabledText, label.disabledText {
  color: var(--disabledFg) !important;
  text-shadow: var(--disabledTextShadow) !important; }

.chekkit-clr-green {
  color: var(--chekkit-green) !important; }

.chekkit-clr-blue {
  color: var(--chekkit-blue) !important; }

.chekkit-clr-grad {
  color: var(--chekkit-gradient) !important; }

.chekkit-bg-clr-green {
  background-color: var(--chekkit-green) !important; }

.chekkit-bg-clr-blue {
  background-color: var(--chekkit-blue) !important; }

.chekkit-bg-clr-grad {
  background-color: var(--chekkit-gradient) !important; }

.chekkit-bd-clr-green {
  border-color: var(--chekkit-green) !important; }

.chekkit-bd-clr-blue {
  border-color: var(--chekkit-blue) !important; }

.chekkit-bd-clr-grad {
  border-color: var(--chekkit-gradient) !important; }

.chekkit-green-hov-clr:hover {
  color: var(--chekkit-green) !important; }

.chekkit-green-hov-bg-clr:hover {
  background-color: var(--chekkit-green) !important; }

.chekkit-green-hov-bd-clr:hover {
  border-color: var(--chekkit-green) !important; }

.chekkit-blue-hov-clr:hover {
  color: var(--chekkit-blue) !important; }

.chekkit-blue-hov-bg-clr:hover {
  background-color: var(--chekkit-blue) !important; }

.chekkit-blue-hov-bd-clr:hover {
  border-color: var(--chekkit-blue) !important; }

.chekkit-grad-hov-clr:hover {
  color: var(--chekkit-gradient) !important; }

.chekkit-grad-hov-bg-clr:hover {
  background-color: var(--chekkit-gradient) !important; }

.chekkit-grad-hov-bd-clr:hover {
  border-color: var(--chekkit-gradient) !important; }

.chekkit-green-fc-clr:focus {
  color: var(--chekkit-green) !important; }

.chekkit-green-fc-bg-clr:focus {
  background-color: var(--chekkit-green) !important; }

.chekkit-green-fc-bd-clr:focus {
  border-color: var(--chekkit-green) !important; }

.chekkit-blue-fc-clr:focus {
  color: var(--chekkit-blue) !important; }

.chekkit-blue-fc-bg-clr:focus {
  background-color: var(--chekkit-blue) !important; }

.chekkit-blue-fc-bd-clr:focus {
  border-color: var(--chekkit-blue) !important; }

.chekkit-grad-fc-clr:focus {
  color: var(--chekkit-gradient) !important; }

.chekkit-grad-fc-bg-clr:focus {
  background-color: var(--chekkit-gradient) !important; }

.chekkit-grad-fc-bd-clr:focus {
  border-color: var(--chekkit-gradient) !important; }

.chekkit-green-ac-clr:active {
  color: var(--chekkit-green) !important; }

.chekkit-green-ac-bg-clr:active {
  background-color: var(--chekkit-green) !important; }

.chekkit-green-ac-bd-clr:active {
  border-color: var(--chekkit-green) !important; }

.chekkit-blue-ac-clr:active {
  color: var(--chekkit-blue) !important; }

.chekkit-blue-ac-bg-clr:active {
  background-color: var(--chekkit-blue) !important; }

.chekkit-blue-ac-bd-clr:active {
  border-color: var(--chekkit-blue) !important; }

.chekkit-grad-ac-clr:active {
  color: var(--chekkit-gradient) !important; }

.chekkit-grad-ac-bg-clr:active {
  background-color: var(--chekkit-gradient) !important; }

.chekkit-grad-ac-bd-clr:active {
  border-color: var(--chekkit-gradient) !important; }

/*# sourceMappingURL=root.css.map */
